body {
    font-family: Arial, sans-serif;
}

.hero-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.min-vh-75 {
    min-height: 75vh;
}

.profile-placeholder {
    width: 280px;
    height: 280px;
    margin: auto;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #212529;
    color: white;

    font-size: 5rem;
    font-weight: bold;
}

@media (max-width: 768px) {

    .hero-section {
        text-align: center;
    }

    .profile-placeholder {
        width: 200px;
        height: 200px;
        font-size: 3rem;
    }
}